<a href="https://colab.research.google.com/github/Tajul643/wee-4-lab-work/blob/main/(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
#creating list of python

lst1=[11,12,13,42,12.23,53.23,"python",[12,42,13]]
print(lst1)
lst2=[]
print(lst2)
lst3=list()
print(lst3)

[11, 12, 13, 42, 12.23, 53.23, 'python', [12, 42, 13]]
[]
[]

In [82]:
#iterating list of the oop

lst1=[11,12,13,42,12.23,53.23,"python",[12,42,13]]
for i in lst1:
    print(i,end=' ')
print('')

11 12 13 42 12.23 53.23 python [12, 42, 13]

In [83]:
#iterating list  of the python expression

lst0=[1,2,3,4,2.23,3.23,"python",[2,4,3]]
print(lst0[2])
print(lst0[6])
print(lst0[-2])
print(lst0[7])

3
python
python
[2, 4, 3]

In [84]:
#List operations of the method to the oop

lst1=[11,12,13,42,12.23,53.23,"python",[12,42,13]]

print(len(lst1))                #len( ) gives the length of the list

lst1.append([12,2,12,2])        #append( ) inserts an element to the end of the list
print(lst1)

lst1.insert(12,"panda")         #insert( ) insertes an element on a given index
print(lst1)

lst1.remove(13)                  #remove( ) removes first occurence of an element
print(lst0)

print(lst1.index("python"))     #index( ) returns index of first occurence of an element

print(lst1.count('pandas'))     #count( ) reuturns the number of occurence of an element

print(lst1.reverse())           #reverse( ) makes a reverse list

lst1=lst0.copy()                #copy( ) makes a copy of list
print(lst1)

lst0.clear()                    #clear( ) makes the list empty
print(lst0)

8
[11, 12, 13, 42, 12.23, 53.23, 'python', [12, 42, 13], [12, 2, 12, 2]]
[11, 12, 13, 42, 12.23, 53.23, 'python', [12, 42, 13], [12, 2, 12, 2], 'panda']
[1, 2, 3, 4, 2.23, 3.23, 'python', [2, 4, 3]]
5
0
None
[1, 2, 3, 4, 2.23, 3.23, 'python', [2, 4, 3]]
[]

In [86]:
#lsit slicing of the oop

lst0=[11,12,13,42,12.23,53.23,"python",[12,42,13]]

print(lst0[2:7])
print(lst0[2:])
print(lst0[:5])
print(lst0[:])

[13, 42, 12.23, 53.23, 'python']
[13, 42, 12.23, 53.23, 'python', [12, 42, 13]]
[11, 12, 13, 42, 12.23]
[11, 12, 13, 42, 12.23, 53.23, 'python', [12, 42, 13]]

In [87]:
#list sorting

lst1=[11,12,14,12,14,12,14,12,15,16,17,14]

lst2=sorted(lst1)
print(lst2)
print(lst1)
lst2.sort()
print(lst1)

[11, 12, 12, 12, 12, 14, 14, 14, 14, 15, 16, 17]
[11, 12, 14, 12, 14, 12, 14, 12, 15, 16, 17, 14]
[11, 12, 14, 12, 14, 12, 14, 12, 15, 16, 17, 14]

In [88]:
#creating tuple

tp1=(11,12,13,42,12.23,53.23,"python",[12,42,13])
print(tp1)
tp2=()
print(tp2)
tp3=tuple()
print(tp3)

(11, 12, 13, 42, 12.23, 53.23, 'python', [12, 42, 13])
()
()

In [89]:
#iterating tuple

tp1=(11,12,13,42,12.23,53.23,"python",[12,42,13])
for i in tp1:
    print(i,end=' ')
print('')

11 12 13 42 12.23 53.23 python [12, 42, 13]

In [90]:
#iterating tuple of the method

tp1=(1,2,3,4,2.23,3.23,"python",[2,4,3])
print(tp1[2])
print(tp1[6])
print(tp1[-2])
print(tp1[7])

3
python
python
[2, 4, 3]

In [91]:
#inserting into tuple of the method

tp1=(11,12,13,42,12.23,53.23,"python",[12,42,13])
tp1+=("panda",121312,13,121312,13)
print(tp0)

(11, 12, 13, 42, 12.23, 53.23, 'python', [12, 42, 13], 'panda', 121312, 13, 121312, 13)

In [98]:
#unpacking sequences of the method

lst1=[12,13,141213,1413]
x,y,z,d=lst1
print(x)
print(y)
print(z)
print(d)

12
13
141213
1413

In [99]:
#unpacking sequences

tp1=(12,13,141213,1413)
x,y,z,d=tp1
print(x)
print(y)
print(z)
print(d)

12
13
141213
1413